<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TuneHub Login</title>
<link rel="stylesheet" th:href="@{/CSS/LoginStyling.css}">
</head>
<body>
<div class="container">
	<h1 class="log">LOGIN:</h1>
	<form action="validate" method="post">
	
		<label >EMAIL :</label>
		<input  type="email" name="email" placeholder="Email" required/>
		<br>
		<br>
		<label>PASSWORD :</label>
		<input type="password" name="password" placeholder="Enter password" required/>
		<br>
		<br>
		<input type="Submit" value="Login"/>
	
	</form>
</div>
</body>
</html>















































