<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>REGISTER HERE!!</title>
</head>
<body>
<h1>User Registration:</h1>
	<form action="registration" method="post" >
		<label>USERNAME :</label>
		<input type="text" name="username"/>
		<br>
		
		<label>EMAIL :</label>
		<input type="email" name="email"/>
		<br>
		
		<label>PASSWORD :</label>
		<input type="password" name="password"/>
		<br>
		
		<label>GENDER :</label>
		M<input type="radio" value="Male" name="gender"/>
		F<input type="radio" value="Female" name="gender"/>
		O<input type="radio" value="Others" name="gender"/>
		<br>
		
		<label>ROLE :</label>
		Admin<input type="radio" value="Admin" name="role"/>
		Customer<input type="radio" value="Customer" name="role"/>
		<br>
		
		<label>ADDRESS :</label>
		<textarea rows="4" cols="10" name="address"></textarea>
		<br>
		
		<input type="Submit" name="submit"/>
	</form>
</body>
</html>